/* src/components/Styles.css */

body {
  font-family: Ubuntu;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type="text"],
button {
  font-size: 1.2rem;
  padding: 8px 12px;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.navigation-bar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.navigation-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation-bar li {
  margin: 0 10px;
}

.navigation-bar a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.navigation-bar a:hover,
.navigation-bar a.active {
  background-color: #00bcd4;
  color: #fff;
}
